<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation w-full text-red-500">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "input-field" %>
    <%= (inline_error_messages post, :title).html_safe %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, class: "input-field", rows: 15 %>
    <%= (inline_error_messages post, :body).html_safe %>
  </div>

  <div class="field">
    <div class="input-file-field" data-input="post_image">
      <p class="text-file-name ">
        <%= post.new_record? ? "Chose File..." : post.image.original_filename %>
      </p>
      <span class="btn-browse">Browse</span>
    </div>
    <%= form.file_field :image, class: "hidden" %>
    <%= (inline_error_messages post, :image).html_safe %>

  </div>

  <div class="actions text-right">
    <%= form.submit post.new_record? ? "Save" : "Update", class: "shadow-lg btn btn-blue" %>
  </div>
<% end %>
